<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}"></a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Users (<a href = "{{ url_for('homepage') }}">Add User
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Password</th>

            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.first_name }} {{user.last_name}}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.password }}  </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>